/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Protest+Riot&display=swap');
/* Color Variables */
:root {
  --white: #fff;
  --black: #222;
  --blue: #006269;
  --grey1: #f0f0f0;
  --grey2: #e9d7d3;
  --blue2:  #00559b6b;
}

/* Basic Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  background-color: var(--white);
  color: var(--black);
  font-weight: 400;
  font-style: normal;
}

a {
  text-decoration: none;
  color: var(--black);
}

li {
  list-style: none;
}

.container {
  max-width: 114rem;
  margin: 0 auto;
  padding: 0 3rem;
}


.d-flex {
  display: flex;
  align-items: center;
  
}

/* 
=================
Header
=================
*/

.header {
    position: relative;
    /* min-height:30vh; */
    overflow-x: hidden;
    
  }
  
  .top-nav {
    background-color: var(--blue);
    font-size: 1.8rem;
    font-family: 'Roboto', sans-serif;
    color: var(--white);
  }
  
  .top-nav div {
    justify-content: right;
    height: 4.0rem;
  }
  
  .top-nav a {
    color: var(--white);
    padding: 0 0.5rem;
  }
  .top-nav a:hover {
    text-decoration: underline;
  }
  ul.d-flex li {
     margin-left: 20px;/* Ajusta el valor según sea necesario */
  }

  /* 
=================
Navigation
=================
*/
.navigation {
    height: 6rem;
    line-height: 6rem;
  }
  
  .nav-center {
    justify-content: space-between;
  }
  
  .nav-list .icons {
    display: none;
  }
  
  .nav-center .nav-item:not(:last-child) {
    margin-right: 0.5rem;
  }
  
  .nav-center .nav-link {
    font-size: 1.8rem;
    padding: 1rem;
  }
  
  .nav-center .nav-link:hover {
    color: var(--blue);
  }
  
  .nav-center .hamburger {
    display: none;
    font-size: 2.3rem;
    color: var(--black);
    cursor: pointer;
  }

  
  /* Icons */

.icon {
    cursor: pointer;
    font-size: 2.5rem;
    padding: 0 1rem;
    color: #555;
    position: relative;
  }
  
  .icon:not(:last-child) {
    margin-right: 0.5rem;
  }
  
  .icon span {
    position: absolute;
    top: 3px;
    right: -3px;
    background-color: var(--blue);
    color: var(--white);
    border-radius: 50%;
    font-size: 1.3rem;
    height: 2rem;
    width: 2rem;
    justify-content: center;
  }
  
  @media only screen and (max-width: 768px) {
    .nav-list {
      position: fixed;
      top: 12%;
      left: -35rem;
      flex-direction: column;
      align-items: flex-start;
      box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
      background-color: white;
      height: 100%;
      width: 0%;
      max-width: 35rem;
      z-index: 100;
      transition: all 300ms ease-in-out;
    }
  
    .nav-list.open {
      left: 0;
      width: 100%;
    }
  
    .nav-list .nav-item {
      margin: 0 0 1rem 0;
      width: 100%;
    }
  
    .nav-list .nav-link {
      font-size: 2rem;
      color: var(--black);
    }
  
    .nav-center .hamburger {
      display: block;
      color: var(--black);
      font-size: 3rem;
    }
  
    .icons {
      display: none;
    }
  
    .nav-list .icons {
      display: flex;
    }
  
    /*.top-nav ul {
        display: none; 
    }*/
  
    .top-nav div {
      /* justify-content: center; */
      height:  4.0rem;
    }
  }

  /* buscador */
/* Buscador */
.search-box {
  display: flex;
  align-items: center;
}

.search-box input[type="text"] {
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 8px;
}

.search-box button {
  background-color: var(--blue);
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 8px 12px;
  cursor: pointer;
}

.search-box button:hover {
  background-color: var(--blue2);
}

  
  /* Cart Items */
.cart {
    margin: 10rem auto;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .cart-info {
    display: flex;
    flex-wrap: wrap;
  }
  
  th {
    text-align: left;
    padding: 0.5rem;
    color: #fff;
    background-color: var(--blue);
    font-weight: normal;
  }
  
  td {
    padding: 1rem 0.5rem;
  }
  
  td input {
    width: 5rem;
    height: 3rem;
    padding: 0.5rem;
  }
  
  td a {
    color: orangered;
    font-size: 1.4rem;
  }
  
  td img {
    width: 8rem;
    height: 8rem;
    margin-right: 1rem;
  }
  
  .total-price {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    margin-top: 2rem;
  }
  
  .total-price table {
    border-top: 3px solid var(--blue);
    width: 100%;
    max-width: 35rem;
  }
  
  td:last-child {
    text-align: right;
  }
  
  th:last-child {
    text-align: right;
  }
  
  .checkout  {
    display: inline-block;
    background-color: var(--blue);
    color: white;
    padding: 1rem;
    margin-top: 1rem;

    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    font-style: normal;
  }
  
  @media only screen and (max-width: 567px) {
    .cart-info p {
      display: none;
    }
  }
  







  /* 
=================
Navigation NombreLogo
=================
*/
.logo-container {
    display: flex;
    align-items: center;
  }
  
  .logo-container img {
    width: 50px; /* ajusta el tamaño de la imagen */
    height: 50px; /* ajusta el tamaño de la imagen */
    /*border-radius: 50%;  para hacer un círculo */
    margin-right: 0px; /* ajusta el espacio entre la imagen y el texto */
  }
  
  .logo-container h1 {
    font-size: 30px;
    color: #333;
    font-family: 'Dancing Script', cursive;
    text-decoration: underline; /* Subraya el texto */
  }
  
  .logo-container .glow {
    color: var(--blue);
    font-weight: bold;
    
  }
  
  .logo {
    text-decoration: none;
  }
  

  /* Footer */
.footer {
    padding: 5rem 1rem;
    background-color: var(--blue);
  }
  
  footer .row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 99.6rem;
    margin: 0 auto;
  }
  
  .footer .col {
    flex-direction: column;
    color: var(--white);
    align-items: flex-start;
  }
  
  .footer .col:last-child {
    flex-direction: row;
    justify-content: center;
  }
  
  .footer .col:last-child span {
    font-size: 2.5rem;
    margin-right: 0.5rem;
    color: var(--white);
  }
  
  .footer .col a {
    color: var(--white);
    font-size: 1.5rem;
    padding: 0.5rem;
    font-weight: 300;
  }
  
  .footer .col h4 {
    margin-bottom: 1rem;
  }
  
  @media only screen and (max-width: 567px) {
    footer .row {
      grid-template-columns: 1fr;
      row-gap: 3rem;
    }
  }
  

  



/* Pantalla modal */
.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
  padding-top: 60px;
}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto; 
  padding: 20px;
  border: 1px solid #888;
  width: 80%; 
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.btn {
  background-color: var(--blue);
  color: white;
  padding: 15px 20px;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--blue);
}
